@page "/baseclassexample"
@inherits Blazor.WASM.ComponentBaseClasses.ComponentBaseClassExample

<h1>Component with C# partial class</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>