@page "/"

<SurveyPrompt Title="DDD2020"></SurveyPrompt>

<MySharedComponent></MySharedComponent>

<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="codedirective">
            <span class="oi oi-plus" aria-hidden="true"></span> Code Directive
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="codepartialclass">
            <span class="oi oi-plus" aria-hidden="true"></span> Code Partial Class
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="baseclassexample">
            <span class="oi oi-plus" aria-hidden="true"></span> Code Base Class
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="parameters">
            <span class="oi oi-plus" aria-hidden="true"></span> Route/Component Parameters
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="routeconstraints/100">
            <span class="oi oi-plus" aria-hidden="true"></span> Route Constraints
        </NavLink>
    </li>

    <li class="nav-item px-3">
        <NavLink class="nav-link" href="catchall/2020/12/12">
            <span class="oi oi-plus" aria-hidden="true"></span> Catch all route params
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="attributesplatting">
            <span class="oi oi-plus" aria-hidden="true"></span> Attribute Splatting
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="ComponentLifeCycle">
            <span class="oi oi-plus" aria-hidden="true"></span> Lifecycle
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="Componentdatabinding">
            <span class="oi oi-plus" aria-hidden="true"></span> Data binding
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="cssisolation">
            <span class="oi oi-plus" aria-hidden="true"></span> CSS Isolation
        </NavLink>
    </li>

    <li class="nav-item px-3">
        <NavLink class="nav-link" href="contactform">
            <span class="oi oi-plus" aria-hidden="true"></span> Contact Form
        </NavLink>
    </li>

    <li class="nav-item px-3">
        <NavLink class="nav-link" href="contactformeditcontext">
            <span class="oi oi-plus" aria-hidden="true"></span> Contact Form (Edit Context)
        </NavLink>
    </li>
</ul>