@page "/samples"

<h2>Survey Prompt</h2>
<SurveyPrompt Title="How is Blazor working for you?" />

<h2>Cascading Paramerters example</h2>
<DisplayText></DisplayText>

<DisplayText Text="This comes from the parameter"></DisplayText>

