@page "/samples"

<h2>Cascading Paramerters example - No Text Specified</h2>
<DisplayText></DisplayText>



<h2>Cascading Paramerters example - Text Specified</h2>
<DisplayText Text="This comes from the parameter"></DisplayText>

