<h3>Child Counter With Parent-To-Child Binding</h3>

<p>ChildCounter : @ChildCounterValue</p>

@code {
    [Parameter]
    public int ChildCounterValue { get; set; }

    [Parameter]
    public EventCallback<int> ChildCounterValueChanged { get; set; }
}
